
@{
    ViewBag.Title = "Ind";
}

<h2>Third</h2>
<form method="post" action="/Third/Ind">
    <input type="text" name="field" value="" />
    <br />
    <input type="submit" value="Сказать привет" />  <br />
    @ViewBag.Res  <br />
    <span>Метод: </span>@ViewBag.Method <br />
</form>


